<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MySqlMembershipConnection"
        connectionString="Data Source=database-new.cse.tamu.edu;user id=djnemec;password=csce431;database=djnemec-hosp;"
        providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

  <system.web>

    <authentication mode="Forms">
      <forms
        loginUrl="~/Account/Logon"

        timeout="30"
        name=".ASPXFORM$"
        path="/"
        requireSSL="false"
        slidingExpiration="true"
        defaultUrl="Default.aspx"

        enableCrossAppRedirects="false"/>
    </authentication>

    <membership defaultProvider="MySqlMembershipProvider">
      <providers>
        <clear/>
        <add name="MySqlMembershipProvider"
              type="MySql.Web.Security.MySQLMembershipProvider, mysql.web"
                connectionStringName="MySqlMembershipConnection"
                enablePasswordRetrieval="false"
                enablePasswordReset="true"
                requiresQuestionAndAnswer="false"
                requiresUniqueEmail="true"
                passwordFormat="Hashed"
                maxInvalidPasswordAttempts="5"
                minRequiredPasswordLength="6"
                minRequiredNonalphanumericCharacters="0"
                passwordAttemptWindow="10"

                applicationName="/"
                autogenerateschema="true"/>
      </providers>
    </membership>

    <roleManager enabled="true" defaultProvider="MySqlRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="MySqlMembershipConnection"
            applicationName="/"
            name="MySqlRoleProvider"
            type="MySql.Web.Security.MySQLRoleProvider, mysql.web"
            autogenerateschema="true"/>
      </providers>
    </roleManager>

    <profile>
      <providers>
        <clear/>
        <add type="MySql.Web.Security.MySqlProfileProvider, mysql.web"
              name="MySqlProfileProvider"
              applicationName="/"
              connectionStringName="MySqlMembershipConnection"
              autogenerateschema="true"/>
      </providers>
    </profile>
  </system.web>
</configuration>
  